html, body {
    font-family: 'Amiko', sans-serif;
}

.navbar {
    text-align: center;
    background: #923449;
    border-bottom: none;
    margin-bottom: 0;
}

.navbar img {
    width: 200px;
}

.navbar-brand {
    height: initial;
    padding: initial;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    line-height: 30px;
}

.jumbotron {
    position: relative;
    margin-top: 60px;
    text-align: center;
    background: url("../Imagenes/banner-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}

.jumbotron .search {
    background: #fff;
    width: 100%;
    color: #000;
}

.search-button, .search-filter {
    cursor: pointer;
    transition: background 0.5s ease;
}

.search .search-button {
    background: #56C660;
    color: #fff;
}

.search-filter:hover {
    background: #F08042;
    color: #fff;
}

.search-button:hover {
    background: #4C7C3A;
}

.thumbnail .image-container {
    height: 200px;
    width: 100%;
    background-position: center !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.caption h4 {
    margin-bottom: 5px;
}

#latestProp {
    background: #F4F4F4;
    padding: 20px;
}

.section-title {
    text-transform: uppercase;
    font-weight: 200;
}

.separator {
    height: 2px;
    width: 10%;
    background: #000;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin-bottom: 30px;
}

.latestPropContainer {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 400px;
}

.latestPropList {
    width: 100%;
    height: 100%;
}

.lateProperty {
    width: 31.5%;
    height: 100%;
    display: inline-block;
}

.lateProperty:nth-child(odd) {
    margin: 0 1%;
}

.detail-list {
    width: 100%;
    margin-top: 10px;
    height: 60px;
}

.detail-list > ul {
    list-style-type: none;
    width: 49%;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 80%;
}

.detail-list > .left-list {
    float: left;
    
}

.detail-list > .right-list {
    float: right;
}